* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    padding: 2px;
    background-color: #0f0f0f;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    position: relative;
}

.items {
    margin: 0;
    padding: 1.2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #ebebeb;
    padding: 1.7vw;
}
a:hover {
    color: #2b2b2b;
    transition: 0.4s ease-out;
}