<div class="header">
    <h1>Store</h1>
    <mat-slide-toggle class="slider" [(ngModel)]="isChecked">{{ isChecked ? "Lifetime" : "Monthly"}}</mat-slide-toggle>
    
</div>
<div class="flex">

    <div class="store-item-container">
        @for (item of items; track $index) {
        <div class="store-item-card">
            <div class="store-item-clickable" (click)="previewKit(item)">
                <h5 class="store-item-title">{{item.title}} | {{isChecked ? "Lifetime": "Monthly"}}</h5>
                <img class="store-item-picture" [src]="item.icon">
                @if (item.price > 0) {
                <h6 class="store-item-price">&dollar;{{(isChecked ? item.price * 5: item.price) | number: '1.2-2'}}</h6>
                }
                @else {
                <h6 class="store-item-price">Free</h6>
                }
            </div>
            @if (item.price > 0) {
                <button class="store-item-btn">Buy</button>
            }
        </div>
        }
    </div>
</div>